<?xml version="1.0"?>
<model>
  <name>axioma_v2</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Axioma Robotics</name>
    <email>axioma@tadeorobotics.com</email>
  </author>
  <description>
    Axioma mobile robot with 4WD configuration, LIDAR and IMU sensors
  </description>
</model>
